


.form-input{
    border: none;
    border: 0.25px solid #c7c3c3 ;
    height: 50px;
    border-radius: 2px;
    padding: 10px;
    font-size: 18px;

    &:focus{
        outline: none;
        border: 1px solid orange ;
    }

    &::placeholder{
        color:#9b9999;
    }

   
}